form {
  height: 100%;
}

form .MuiInputBase-root,
form input,
form .MuiFormControl-root {
  width: 100% !important;
}

/* MuiInputBase-input MuiOutlinedInput-input css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input */
form input.MuiInputBase-input {
  background-color: var(--light-gray);
}

form input.MuiInputBase-root {
  border-radius: 12px !important;
}

form input,
form button,
form .MuiButtonBase-root {
  font-size: 14px !important;
}

form h3 {
  text-transform: capitalize;
}

form .checkbox-label {
  font-size: "0.9rem";
  text-decoration: underline;
}

form .checkbox-label:hover {
  color: var(--dark-blue);
  cursor: pointer;
}