.auth_page {
  display: flex;
  background-color: var(--light-gray);

}



.auth_page_img {
  width: 100%;
  height: 400px;
}


.auth_page .first-sec {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.auth_page .first-sec_caption {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 130px;
}

.auth_page .first-sec_caption h5 {
  text-align: right;
}

.auth_page .first-sec_caption span {
  font-size: 12px;
  text-align: center;
}

@media (max-width:992px) {

  .auth_page_img {
    display: none;
  }
}