.auth_page {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  background-color: rgba(242, 244, 247);
}



.auth_page_img {
  width: 100%;
  height: 400px;
}

.auth_page .first-sec {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}



@media (max-width:992px) {

  .auth_page_img {
    display: none;
  }
}