:root {
  --dark-blue: #29368f;
  --light-blue: #5aafde;
  --blue-gray: #e7f0f2;
  --light-gray: rgba(242, 244, 247);
  --white: #ffffff;
  --box-shadow: 2px 15px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --liner-background: linear-gradient(to bottom, var(--blue-gray) 70%, rgba(255, 255, 255, 0.5))
}